<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>Music Melody</title>
    <link rel="stylesheet" type="text/css" th:ref="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<style>
    #logoutBtn {
        position: relative;
        top: -37px;
        left: -10px;
    }


    body {
        background-color: #1E1E1E;
        color: white;
    }

    label,
    .card-body {
        color: white;
    }

    .card {
        background-color: #323232;
        margin: 10px;
    }

    input {
        background-color: darkgray;
        color: white;
        text-emphasis-color: white;
    }

    #addToCartBtn {
        background-color: #D06CFF;
        color: white;
    }

    #addToCartBtn:hover {
        background-color: #8b00cc;
    }
    .container-fluid {
        align-items: center;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <a class="navbar-brand" href="/" style="color: #D06CFF">Music Melody</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>

    <div class="d-flex justify-content-end" id="logoutBtn">
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block d-flex justify-content-center"
                style="width: 100px; height: auto;" name="registration" type="Submit">Logout</button>
        </form><br><br>
    </div>



    <div class="songForm">
        <form action="/user/home" method="POST">
            <label for="songTitle">Song Title:</label><br>
            <input type="text" name="songTitle" class="songTitle" id="songTitle" placeholder="Enter Song Title" /><br>
            <label for="duration">Duration:</label><br>
            <input type="text" name="duration" class="duration" id="duration"
                placeholder="Enter Length (in Seconds)" /><br>
            <label for="cost">Cost:</label><br>
            <input type="text" name="cost" class="cost" id="cost" placeholder="Enter Cost in USD" /><br><br>
            <input type="submit" value="Submit" class="submitSongBtn"><br><br>
        </form>
    </div>
    <br>
    <br>
    <br>
    
    <div class="container-fluid align-items-center">
    	<a th:href="@{'/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">
							Title</a>
		<a th:href="@{'/page/' + ${currentPage} + '?sortField=artist&sortDir=' + ${reverseSortDir}}">
		Artist Name</a>
		<a th:href="@{'/page/' + ${currentPage} + '?sortField=duration&sortDir=' + ${reverseSortDir}}">
							Duration</a>
		<a th:href="@{'/page/' + ${currentPage} + '?sortField=cost&sortDir=' + ${reverseSortDir}}">
		Cost</a>
		
		
		<div th:each="song : ${listSongs}">
            <div class="card">
                <div class="row">
                    <div class="col-3">
                        <img class="card-img-left" src="./../../static/images/play-button.jpg">
                    </div>
                    <div class="col-5 justify-content-start">
                        <div class="card-body">
                            <h6 class="card-title">Song Title: <span th:text="${song.title}"></span></h6>
                            <h6 class="card-artist">Artist: <span
                                    th:text="${song.artist.fname} + ' '+ ${song.artist.lname}"></span></h6>
                            <p class="card-text text-muted">Price: $<span th:text="${song.cost}"></span></p>
                        </div>
                    </div>
                    <div class="col-1">
                        <p class="card-duration text-muted"><span th:text="${song.duration}"></span></p>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <button class="btn justify-content-end" name="addToCart" id="addToCartBtn">Add To
                            Cart</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
        
    </div>
    
    
    <!--  
    <table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">
							Title</a>
					</th>
					
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=artist&sortDir=' + ${reverseSortDir}}">
							Artist Name</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=duration&sortDir=' + ${reverseSortDir}}">
							Duration</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=cost&sortDir=' + ${reverseSortDir}}">
							Cost</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="song : ${listSongs}">
					<td th:text="${song.title}"></td>
					<td th:text="${song.artist}"></td>
					<td th:text="${song.duration}"></td>
					<td th:text="${song.cost}"></td>
					
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>-->
            
<br>
<br>
<br>
<br>
<br>
<!-- Footer -->
<footer class="text-center text-lg-start" id="footer" style="background-color: #D06CFF; color: white;">
  <!-- Grid container -->
  <div class="container p-4">
  <div class="text-center">
	  	<h5 class="text-uppercase">Contact</h5>
  </div>
  
  <div class="d-flex justify-content-center" style="margin-top: 2rem;">
  	<div style="margin-right: 3rem;">

        <ul class="list-unstyled mb-0">
          <li>
            Email
          </li>
          <li>
            Phone
          </li>
        </ul>
      </div>
      
      <div>

        <ul class="list-unstyled">
          <li>
          	evan_watson@hcl.com
          </li>
          <li>
            (###)###-####
          </li>
        </ul>
      </div>
  </div>
  </div>
	
	  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: black;">
    2020 Copyright:
    <a class="text-light" href="#">MusicMelody.us</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer --></body>


</html>