<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org ">
    
<head>
    <title>Music Melody</title>
    <link rel="stylesheet" type="text/css" th:ref="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<style>
    body {
        background-color: #1E1E1E;
    }

    #footer {
        background-color: black;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    #cart-container,
    #title-container {
        background-color: #323232;
        padding: 15px 15px;
        border-radius: 5px;
        color: white;
        /* border-style: inset;
        border-color: #D06CFF; */
    }

    #title-container {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #checkout {
        background-color: #D06CFF;
        border-color: #D06CFF;
    }

    #checkout:hover {
        background-color: #8b00cc;
    }

    hr {
        background-color: #D06CFF;
    }
    
    .nav-item {
        margin-right: 15px;
    }

    table {
        text-align: left;
    }

</style>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <a class="navbar-brand" href="/user/home" style="color: #D06CFF">Music Melody</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/user/home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">My Songs</a>
                <a class="nav-item nav-link" href="/user/profile">Profile</a>
                <a class="nav-item nav-link active" href="#">Cart</a>
                <a class="nav-item nav-link" href="/admin/home">Admin</a>
                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-md btn-block d-flex justify-content-center" name="registration"
                        type="Submit">Logout</button>
                </form>
            </div>
            </div>
    </nav>
    </header>

    <div class="container" id="content">
        <div class="container" id="title-container">
            <div class="container-title">
                <h1 class="display-2">Cart</h1>
            </div>
            <hr>
            <div class="container-body">
                <p>All of the selected songs in your shopping cart</p>
            </div>
        </div>

        <div class="container" id="cart-container">
            <div class="song-list">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <td>Song</td>
                            <td hidden>Album</td>
                            <td>Artist</td>
                            <td>Price</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody class="cartTableBody">
                        <!-- Add content using thymeleaf here. Should be session data -->
                    </tbody>
                </table>
            </div>
            <br>
            <div class="d-flex"><h1>Total: </h1> &nbsp <h1 class="costTotal"></h1></div><br><br>
            <div class="buttons">
                <!-- This probably should change to a button that submits since its kinda a form? -->
                <a class="btn btn-primary" id="checkout" role="button" href="cart/customer-details">Continue to
                    Checkout</a>
                <button class="btn btn-light" type="submit" onclick="goPrev()">Continue Shopping</button>
            </div>
        </div>
    </div>

    <footer class="text-center text-lg-start" id="footer" style="background-color: #D06CFF; color: white;">
        <!-- Grid container -->
        <div class="container p-4">
            <div class="text-center">
                <h5 class="text-uppercase">Contact</h5>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 2rem;">
                <div style="margin-right: 3rem;">

                    <ul class="list-unstyled mb-0">
                        <li>
                            Email
                        </li>
                        <li>
                            Phone
                        </li>
                    </ul>
                </div>

                <div>

                    <ul class="list-unstyled">
                        <li>
                            mm@musicmelody.us
                        </li>
                        <li>
                            (###)###-####
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: black;">
            © 2020 Copyright:
            <a class="text-light" href="#">MusicMelody.us</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script>
        function goPrev() {
            window.history.back();
        }
    
        var orders = localStorage.getItem("orders");
            if (orders === null){
                orders = [];
            }else{
                orders = JSON.parse(orders);
            }
        
            var i;
            var costTot = 0;
            var table = document.querySelector('.cartTableBody');
            for (i = 0; i < orders.length; i++) {
                var tr = document.createElement("tr");
                
                var tdTitle = document.createElement("td");
                tdTitle.innerHTML = orders[i][1];
                // tdTitle.className = "text-center";
                
                var tdArtist = document.createElement("td");
                tdArtist.innerHTML = orders[i][2];
                // tdArtist.className = "text-center";
                
                var tdCost = document.createElement("td");
                costTot += parseFloat(orders[i][3]);
                tdCost.innerHTML = orders[i][3];
                // tdCost.className = "text-center";
                
                var tdDelete = document.createElement("td");
                var button = document.createElement("button");
                button.type = "button";
                button.className = "btn btn-outline-danger removeOrder";
                button.innerHTML = "DELETE";
                button.onclick = function(){removeOrder(event)};
                
                var id = document.createElement("div");
                id.innerHTML = orders[i][0];
                id.style.display = "none";
                id.className = "sId";
                tdDelete.appendChild(button);
                tdDelete.appendChild(id);

                tr.appendChild(tdTitle);
                tr.appendChild(tdArtist);
                tr.appendChild(tdCost);
                tr.appendChild(tdDelete);

                
                table.appendChild(tr);
            }
            
            orders = JSON.stringify(orders);
            
            var costTotal = document.querySelector('.costTotal');
            costTotal.innerHTML = Number(costTot.toFixed(2));
            
            function removeOrder(e){
            	var removeBtn = e.currentTarget;
            	var row = removeBtn.parentNode.parentNode;
            	
            	var id = removeBtn.parentNode.querySelector('.sId').innerHTML;
            	//var songCard = removeBtn.parentNode;
            	
                orders = JSON.parse(orders);
            	
            	var i;
            	for(i = 0; i < orders.length; i++){
            		console.log("i: " + orders[i][0], "id: ", id);
            		if(orders[i][0] == id){
            			orders.splice(i, 1);
            			break;
            		}
            	}
            	
               	table.removeChild(row);
            	orders = JSON.stringify(orders);
    			localStorage.setItem("orders", orders);


            }
    </script>
</body>

</html>